<div class="mt-5">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Hero Name</label>
        <input type="text" class="form-control" #heroName>
      </div>
      <br>
      <div class="form-group">
        <select class="form-control" #status>
          <option value="superhero">Superhero</option>
          <option value="netral">Netral</option>
          <option value="villain">Villain</option>
        </select>
      </div>
      <br>
      <button class="btn btn-primary" (click)="onCreateHero(heroName.value, status.value)">
        Add Hero
      </button>
    </div>
  </div>
</div>


<!-- <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter hero name</mat-label>
      <input #heroName>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select Side</mat-label>
      <mat-select #status>
        <mat-option value="superhero">Superhero</mat-option>
        <mat-option value="netral">Netral</mat-option>
        <mat-option value="villain">Villain</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <button
        class="btn btn-primary"
        (click)="onCreateHero(heroName.value, status.value)">
        Add Hero
    </button>
</div> -->