<div class="container">
    <mat-card class="userlist-card">
        <mat-card-title>{{ list.username }}</mat-card-title>
        <br>
        <p> User ID : {{ list.id }}</p>
        <mat-card-content>
            <p>Gender : {{ list.gender }}</p>  
            <p>Position : {{ list.position }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/detail-user']" [queryParams]="{id: list.id}">DETAIL</button>
            <button mat-button [routerLink]="['/edit-user']" [queryParams]="{id: list.id}">EDIT</button>
        </mat-card-actions>
    </mat-card>
</div>