<div class="row">
    <div class="col-xs-12">
      <h3>Add New To Do List!</h3>
      <label>To Do List Name</label>
      <input type="text" class="form-control" 
      #todoNameInput>
      <br>
      <label>To Do List Content</label>
      <input type="text" class="form-control" 
      #todoContentInput>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddTodo(todoNameInput)">Add Todo List!</button>
      <button
        class="btn btn-danger"
        (click)="onAddImportant(todoNameInput)">Add Todo List Important!</button>
    </div>
</div>

