
.mat-card {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

.userform {
    width: 100%;
}

.form-group {
    width: 100%;
}

.errors {
    font-weight: bolder;
    color: red;
}

button {
    margin-top: 25px;
}

mat-radio-button {
    margin: 5px;
}
  


